body {
  margin: 0;
  text-align: center;
}

h1 {
  width: 10%;
  margin: 0 auto;
}

.top-div {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.mid-div {
  background-color: red;
  height: 200px;
  width: 200px;
  margin-left: 260px;
  border: solid 20px;
}

.bottom-div {
  background-color: yellow;
  height: 200px;
  width: 200px;
  margin-left: 500px;
  border: solid 10px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  left: 300px;
  bottom: 300px;
  position: absolute;
}



