body {
  margin: 0;
}

h1 {
  margin-top: 0px;
}

.top-div {
  background-color: #E4F9F5;
  padding: 20px;

}

.mid-div {
  background-color: red;
  height: 200px;
  width: 200px;
  margin-left: 260px;
  border: solid 20px;
}

.bottom-div {
  background-color: yellow;
  height: 200px;
  width: 200px;
  margin-left: 500px;
  border: solid 10px;
}

.pro {

}



